<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    header {
        text-align: center;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
    }

    section {
        margin-top: 20px;
    }

    article {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 10px;
        overflow: hidden;
    }

    img {
        float: left;
        margin-right: 10px;
    }

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin: 0;
    }
</style>
</head>

<body>
    <header>
        <h1>Mis Compras - Librería Online</h1>
    </header>
    <section>
        {{#each result}}
        <article>
            <img src="imagen_libro1.jpg" alt="Libro 1">
            <h2>{{this.product.title}}</h2>
            <p>Autor: Nombre del Autor 1</p>
            <p>{{this.price}}</p>
        </article>
        {{/each}}
    </section>
</body>
